@import "../colors";

.leftPan h3 {
  padding-bottom: 50px;
}
.leftPan {
  padding: 25px;
  text-align: center;
}
.rightPan {
  padding: 0px 10px 10px;
}
.leftPan button {
  color: $white;
  font-weight: bold;
  background-color: $blue;
  border: none;
  border-radius: 25px;
  padding: 5px 50px;
  box-shadow: none;
}
.min-max .min {
  float: left;
}
.min-max .max {
  float: right;
}
