.leftPan h3 {
  padding-bottom: 50px;
}
.leftPan {
  border-right: solid 1px grey;
  padding: 25px;
  text-align: center;
}
.rightPan {
  padding: 10px;
}
.leftPan button {
  color: #ffffff;
  font-weight: bold;
  background-color: blue;
  border: none;
  border-radius: 25px;
  padding: 5px 50px;
  box-shadow: none;
}
