.sort,
.filter {
  text-align: center;
  border-bottom: solid 1px gray;
  padding: 10px 0;
}
.sort {
  border-right: solid 1px gray;
}

.sort span,
.filter span {
  padding: 0 10px;
}

.sortFilter {
  //padding: 10px;
}

.modal {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modalBody {
  width: 400px;
  background-color: #fff;
  border: solid 2px grey;
  padding: 10px;
}
.modalBody ul {
  list-style-type: none;
}
.modalButtons {
  padding: 10px;
  border-top: solid 1px grey;
}
.modalButton {
  text-align: center;
}

.sliderCongainer {
  text-align: center;
  padding-top: 50px;
}
.slider {
  width: 70% !important;
}
.range {
  padding: 0 10px;
}
.priceLabel {
  text-align: center;
  padding-bottom: 50px;
}
.sortMenu li {
  display: inline;
  padding: 0px 10px;
  font-weight: bold;
  color: grey;
}

.sortMenu li.label {
  color: black;
}
.sortMenu li span.selected {
  padding-bottom: 2px;
  border-bottom: solid 3px blue;
  color: blue;
}

.sortMenu li button {
  border: none;
}
.sortMenu li.label {
  font-weight: bold;
}
