.layout {
  padding: 0px;
  margin: 0px;
  background-color: #f4f5f7;
  .headerContainer {
    padding: 10px;
    background-color: blue;
  }
  .footerContainer {
    background-color: blue;
  }
  .contentContainer {
    min-height: 100vh;
  }
}
