@import "../../_colors.scss";

.layout {
  padding: 0px;
  margin: 0px;
  background-color: $lightGrey;
  .headerContainer {
    padding: 10px;
    background-color: $blue;
  }
  .footerContainer {
    background-color: $blue;
  }
  .contentContainer {
    min-height: 100vh;
  }
}
